.table-scroll {
  height: 250px;
  overflow-x: auto;
}

.table-head {
  width: 100%;
  background: #1d1d1e;
  table-layout: fixed;
  border-radius: 8px;
  border-left: 1px solid #2b2b2e;
  border-right: 1px solid #2b2b2e;
  border-top: 1px solid #2b2b2e;
}

.table {
  width: 100%;
  background: #1d1d1e;
  table-layout: fixed;
  border-left: 1px solid #2b2b2e;
  border-right: 1px solid #2b2b2e;
  border-bottom: 1px solid #2b2b2e;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-collapse: collapse;
}

.table-head th {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px;
  border-bottom: 1px solid #2b2b2e;
}

.body-row {
  &:hover {
    background-color: #2b2b2e;
  }
}

.table td {
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .table-head thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table tr {
    border-bottom: 3px solid #2b2b2e;
    display: block;
    margin-bottom: 0.625em;
  }

  .table td {
    border-bottom: 1px solid #2b2b2e;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table td:last-child {
    border-bottom: 0;
  }
}
