.card {
  &-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &-wrapper {
    width: 100%;
    max-width: 356px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 2px solid #2b2b2e;
    background: #1d1d1e;
    padding: 20px;
    gap: 20px;
  }

  &-title {
    margin: 0;
  }

  &-blue {
    color: #3596fe;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
