$text-primary: #fff;
$text-second: #bbb;
$text-addit: #fdfdfdfd;
$text-addit-2: #6a757b;
$text-active: #3596fe;

$bg-primary: #3596fe;
$bg-second: #1d1d1e;
$bg-regular: #363638;

$border-primary: #363638;
$border-second: #2b2b2e;

$shadow-primary: #3596fe7a;
$shadow-second: #0000003d;
