@import 'normalize.css';
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

@import 'styles/auth-layout.scss';
@import 'styles/auth-form.scss';
@import 'styles/main-layout/sidebar.scss';
@import 'styles/main-layout/content.scss';
@import 'styles/main-layout/navbar.scss';
@import 'styles/shared-components/page-header.scss';
@import 'styles/shared-components/table.scss';

body {
  font-family: 'Gilroy-Regular', sans-serif;
  overflow: hidden;
  cursor: default;
  background-color: #1d1d1e;
}
