.main-layout {
  display: flex;
  color: #fff;
}

.sb {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 45px 50px;
  gap: 55px;
  height: 100%;
  overflow: auto;
}

.sb-logo {
  width: 125px;
  height: 18px;
}

.sb-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.sb-list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.sb-link {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.sb-link,
.sb-icon {
  color: #6a757b;
  transition: 1s;
}

.sb-list-item:hover {
  cursor: pointer;
  .sb-link,
  .sb-icon {
    color: #3596fe;
    filter: drop-shadow(0px 4px 24px rgba(53, 150, 254, 0.48));
  }
}

.hr::before {
  display: flex;
  width: 100%;
  max-width: 240px;
  content: '';
  border: 1px solid #363638;
  opacity: 0.5;
}

.social-icons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-icon {
  color: #6a757b;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.social-icon:hover {
  color: #3596fe;
  filter: drop-shadow(0px 4px 24px rgba(53, 150, 254, 0.48));
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 3.5rem;
  left: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .menu-toggle {
    display: block;
  }

  .sb {
    top: 0;
    position: fixed;
    left: -250px;
    height: 100vh;
    width: 100%;
    max-width: 250px;
    transition: 0.2s linear;
  }

  .sb.active {
    left: 0;
    z-index: 1000;
    background-color: #212123;
  }
}
